@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*--------------------------------------------Body*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 !important;
}

/*--------------------------------------------color*/
.img > span {
    color: #fff;
    background-color: #000;
}

.btn_small:hover {
    background-color: #000 !important;
}

/*--------------------------------------------Header*/
/* whatocook logo */
.brand-logo {
  margin-left: 10px;
  font-size: 15px; 
}

/*--------------------------------------------Cover image*/

.img{
  width: 100%;
  height: 50%;
  background-image: url('../../static/images/whatocook.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.img > span {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*--------------------------------------------Wrapper content*/

.wrapper{
    min-height: 40%;
    margin-top: 3em;
}

.list_title{
    margin-bottom: 1em;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem; 
}

.recipe_header {
  margin-top: 5px;
}

 /*--------------------------------------------btn style*/

.btn_small {
  margin: 3px;
}

/*--------------------------------------------footer*/

footer{
    margin-top: 3em;
}
/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
  body {
    max-width: 1100px;
    margin: auto;
  }
}