/*--------------------------------------------Body*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 !important;
}

/*--------------------------------------------Header*/
.img{
  width: 100%;
  height: 50%;
  background-image: url('../../static/images/whatocook.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

/* whatocook logo */
.brand-logo {
  margin-left: 10px;
  font-size: 15px; 
}
.recipe_header {
  margin-top: 5px;
}
 
 /*--------------------------------------------btn style*/

.btn_small {
  margin: 3px;
}
.btn_small:hover {
    background-color: #000 !important;
}

/*--------------------------------------------Media Queries*/
@media(min-width: 992px) {
  body {
    max-width: 1100px;
    margin: auto;
  }
}