<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
        <title>whatoCook</title>
    </head>
    <body>
      <header>
         <!-- Start the Nav bar -->
        <nav>
          <div class="nav-wrapper black">
            <a href="{{url_for('get_recipes')}}" class="brand-logo">WhatoCook</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <!-- a List of urls for current and different html pages  -->
            <ul class="right hide-on-med-and-down">
              <li><a href="{{url_for('get_recipes')}}">Home</a></li>
              <li><a href="{{url_for('search_by_cuisine')}}">Search</a></li>
              <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
              <li><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{url_for('get_recipes')}}">Home</a></li>
          <li><a href="{{url_for('search_by_cuisine')}}">Search</a></li>
          <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
          <li><a href="{{url_for('get_cuisines')}}">Manage Cuisines</a></li>
        </ul>
      </header>
      <!-- Full width cover image div -->
        <div class="img"></div>
        <!-- container for  block content -->
        <div class="container">
          {% block content %} {% endblock %}
        </div>
        <!-- Footer -->
        <footer class="page-footer black">
          <div class="footer-copyright center">
            <div class="container">
            © 2019 T.AlRehily
            </div>
          </div>
        </footer>
        {% block tariq %} 
        <!-- Compiled jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){
             $('.collapsible').collapsible();
             $('.sidenav').sidenav();
             $('select').material_select(); 
            });
        </script>
        {% endblock %}
    </body>
</html>
