{% extends 'base.html' %} {% block content %}

<h5 class="list_title"> Recipes List </h5>
<div class="row">
<!-- List of recipes that are stoed in the database for the choosen cuisine by the user -->
    <ul class="collapsible" data-collapsible="accordion">
    <!-- Loop throght the match cuisine name -->
        {% for recipe in search_names %}
        <!-- Condifion if cusisne name match recipe cuisine -->
                <li>
                <div class="collapsible-header">
                    <div class="col s2 m4">
                    <i class="material-icons">expand_more</i>
                    </div>
                     <!-- image div -->
                    <div class="col s5 m5">
                        <img class="recipe_first_img" src="{{recipe.image}}" alt="{{recipe.image}}">
                    </div>
                    <!-- recipe information -->
                    <div class="col s5 m7">
                        <span><strong>Cuisine: </strong></span> {{recipe.recipe_cuisine}}<span><br><strong>Food Type: </strong></span>{{recipe.recipe_food_type}}
                    </div>
                </div>
                <div class="collapsible-body">
                
                    <img class="recipe_img" src="{{recipe.image}}" alt="{{recipe.recipe_name}}">
                    <h6><strong>Recipe Name </strong></h6><span>{{recipe.recipe_name}}</span>
                    <h6><strong>Recipe Ingredients </strong></h6><span>{{recipe.ingredients}}</span>
                    <h6><strong>Recipe Preparation Steps </strong></h6><span>{{recipe.preparation_steps}}</span>
                    <h6><strong>Recipe Required Tools </strong></h6><span>{{recipe.required_tools}}</span>
                    
                </div>
                </li>
        {% endfor %}
    </ul>
    <a class="btn center blue lighten" href="{{url_for('search_by_cuisine')}}">New Search
        <i class="material-icons left">search</i>
    </a>
</div>
{% endblock %}
