{% extends 'base.html' %}
{% block content %}
        {% for r in recipes %}
        {{r.recipe_cuisine}}
        {{r.recipe_food_type}}
        {{r.recipe_name}}
        {{r.ingredients}}
        {{r.preparation_steps}}
        {{r.required_tools}}
        {% endfor %}

<ul class="collapsible" data-collapsible="accordion">
    {% for r in recipes %}
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>
        First: <<strong>{{r.recipe_cuisine}}</strong> - {{r.recipe_food_type}}
      </div>
      <div class="collapsible-body">
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    {% endfor %}

</ul>
{% endblock %}
