{% extends 'base.html' %} {% block content %}

<div class="row">
  <h3 class="center-align title-font center"> Search for a recipes for avalible cuisines</h3>
</div>
<div class="row">
    <form action="{{url_for('recipes_by_cuisine')}}" method="POST">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="recipe_cuisine" name="recipe_cuisine">
                <option value="" disabled selected>Choose cuisine</option>
                {% for cuisine in cuisines %}
                 <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                {% endfor %}
            </select>
            </div>
        </div>

        <div class="row">
                <button class="btn center blue lighten" type="submit" name="action" value="search">Search Recipes
                    <i class="material-icons left">search</i>
                </button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
    $('select').formSelect();
  });
</script>
{% endblock %}
